<script>
    MonthBehavior={
        getMonthName:function(id){
            let month = ['เดือน','มกราคม','กุมภาพันธ์','มีนาคม','เมษายน','พฤษภาคม',
            'มิถุนายน','กรกฎาคม','สิงหาคม','กันยายน','ตุลาคม','พฤศจิกายน','ธันวาคม'];
            return month[id];
        },
        getMonth:function(){
            return [
                        {
                            id: '01',
                            name: 'มกราคม'
                        },
                        {
                            id: '02',
                            name: 'กุมภาพันธ์'
                        },
                        {
                            id: '03',
                            name: 'มีนาคม'
                        },
                        {
                            id: '04',
                            name: 'เมษายน'
                        },
                        {
                            id: '05',
                            name: 'พฤษภาคม'
                        },
                        {
                            id: '06',
                            name: 'มิถุนายน'
                        },
                        {
                            id: '07',
                            name: 'กรกฎาคม'
                        },
                        {
                            id: '08',
                            name: 'สิงหาคม'
                        },
                        {
                            id: '09',
                            name: 'กันยายน'
                        },
                        {
                            id: '10',
                            name: 'ตุลาคม'
                        },
                        {
                            id: '11',
                            name: 'พฤศจิกายน'
                        },
                        {
                            id: '12',
                            name: 'ธันวาคม'
                        }
                    ];
        }
    }
</script>


