<link rel="import" href="../../../bower_components/polymer/polymer.html">
<script>
    /**
	 * 
	 * @polymerBehavior
	 */ 
    ValidateFormBehavior = {
        queryFrom:function(required){
            return Polymer.dom(this.root).querySelectorAll(required)
        },
        validateForm:function(required){
            return this.queryFrom(required).map((el)=> el.validate()).every(elem => elem == true)
        },
        resetFrom:function(required){
            return this.queryFrom(required).map((el) => el.reset())
        },
    };
</script>