
<dom-module id="importer-list">
     <style is="custom-style" include="iron-flex iron-flex-factors iron-flex-alignment gl-size gl-color gl-table gl-toast">
    .elevation{
      border-radius: 5px;
      margin: 10px;
      padding: 5px;
      background-color: white;
    }
    
     .text-table{
       text-align: center;
     }
     .empty {
       text-align: center;       
       margin: 15px;
     }
     table.gl-table-default {
      width: 98%;
      border: 1px solid #ddd;
      margin: 15px;
    }
    
  </style>
    <template>
        
        <div class="searchBorder" style="overflow-x:auto; max-height:500px;">
        <table class="gl-table-default">
          <thead class="table-head">
            <tr>
              <th><div class="text-table">ลำดับ</div></th>
              <th><div class="text-table">เลขประจำตัวผู้เสียภาษี</div></th>
              <th><div class="text-table">ผู้นำเข้า</div></th>
              
              <th><div class="text-table">ประเภทการนำเข้า</div></th>
              <!--<th><div class="text-table">วันที่ขอ</div></th>-->
              <th><div class="text-table">ประเทศที่นำเข้า</div></th>
              <th><div class="text-table">วันที่นำเข้า</div></th>
              <th><div class="text-table">สถานะการรายงาน</div></th>
            </tr>
          </thead>

          <template is="dom-repeat" items="[[list]]">
            <tbody>
              <tr on-tap="selectData" data="[[item]]" style="cursor:pointer;">
                <td><div class="text-table">[[getId(index)]]</div></td>
                <td><div class="text-table">[[item.company_taxno]]</div></td>
                <td><div>[[item.company_name_th]]</div></td>
                
                <td><div class="text-table">[[item.contract_type_name]]</div></td>
                <td><div>[[item.destination_country]]</div></td>
                <!--<td><div class="text-table">[[item.request_print_date]]</div></td>-->
                <td><div class="text-table">[[item.load_date]]</div></td>
                <td><div class="text-table">[[item.status_name]]</div></td>
              </tr>
            </tbody>
          </template>
          
          <template is="dom-if" if=[[_obHaveData(list)]]>
            <tr >
                <td colspan="7"><div class="empty">ไม่มีข้อมูล</div></td>
              </tr>
          </template>
          
        </table>
      </div>
    </template>
    <script>
        Polymer({
            is: 'importer-list',
            behaviors:[ReduxBehavior],
            selectData(e){
              // console.log(e.currentTarget.data);
              var id = e.currentTarget.data.id;
              this.dispatchAction('IMPORT_GET_COMPANY',id)
              // this.dispatchAction('IMPORTER_CLEAR')
              // this.dispatchAction('IMPORTER_SELETED',e.currentTarget.data);
              this.fire('_open-panel-right')
            },
            _obHaveData: function (data) {
              if ((typeof data == 'object') && (data !== null)) {
                if (data.length < 1) {
                  return true;
                } else {
                  return false
                }
              } else {
                return true
              }
            },
            getId(index){
              return index+1
            }
        });
    </script>
</dom-module>
