
<dom-module id="importer-search">
    <style is="custom-style" include="iron-flex iron-flex-factors iron-flex-alignment gl-size gl-color gl-table gl-toast">
            :host {
                display: block;
            }
            .gl-table-default{
                border-collapse: collapse;
                width: 100%;
                white-space: nowrap;
            }
        </style>
    <template>
        <!--[[_setYear(list)]]-->

        <div class="searchBox searchBorder">
        <!--<gl-grid-row width="{{getWidth}}">
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
            <gl-form-input label="เลขประจำตัวผู้เสียภาษี  " always-float-label value="{{dataSelected.receive_tax_id}}" ></gl-form-input>-->
            <!--<gl-combo-box id="exporter_id" label="เลขประจำตัวผู้เสียภาษี" item-label-path="seller_name"
                item-value-path="exporter_id" value="{{dataSelected.exporter_id}}" name="exporter_id"></gl-combo-box>-->
          <!--</gl-grid-col>
        </gl-grid-row>-->
        <gl-grid-row width="{{getWidth}}">
          <!--[[year]]//[[list]]-->
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]"></gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
            <!--<gl-combo-box placeholder="เลือกปีโควตา" items="{{list}}"
                 item-label-path="year"   item-value-path="year" value="{{dataSelected.year}}">
                   </gl-combo-box >-->
            <gl-form-dropdown-menu label="ปี" placeholder="เลือกปีโควตา">
              <paper-menu class="dropdown-content" attr-for-selected="value" selected="{{dataSelected.year}}">
                <!--<paper-item>ทุกปี</paper-item>-->
                <template is="dom-repeat" items={{list}} >
                   <paper-item value="[[item.year]]">[[item.year]]</paper-item>
                </template>
                </paper-menu>
            </gl-form-dropdown-menu>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
            <gl-form-dropdown-menu label="ชนิดโควตา" placeholder="ทั้งหมด" >
              <paper-menu class="dropdown-content" attr-for-selected="value" selected="{{dataSelected.quota}}">
                <paper-item value="all" on-tap="_checkFalseValue">ทั้งหมด</paper-item>
                <paper-item value="true" on-tap="_checkTrueValue">ในโควตา</paper-item>
                <paper-item value="false" on-tap="_checkFalseValue">นอกโควตา</paper-item>
              </paper-menu>
            </gl-form-dropdown-menu>
          </gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
            <gl-form-dropdown-menu label="งวด" placeholder="ทั้งหมด" disabled="[[setBtn]]">
              <paper-menu class="dropdown-content" attr-for-selected="value" selected="{{dataSelected.period}}">
              <paper-item>ทั้งหมด</paper-item>
              <paper-item value="1">1</paper-item>
              <paper-item value="2">2</paper-item>
              <paper-item value="3">3</paper-item>
              </paper-menu>
            </gl-form-dropdown-menu>
          </gl-grid-col>

        </gl-grid-row>
        <gl-grid-row>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,5]]"></gl-grid-col>
          <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
            <paper-button class="gl-btn-info buttonSearch" on-tap="_search" title="ค้นหา" raised>ค้นหา</paper-button>
          </gl-grid-col>
        </gl-grid-row>
      </div>
    </template>
    <script>
        Polymer({
            is: 'importer-search',
            behaviors: [
              ReduxBehavior,
           ],
            properties: {
              dataSelected:{
                type:Object,
                value:{ quota:'all' }
              },
              year:{
                statePath:'importer.year',
              },
              list:{
                statePath:'quota.list',
                observer:'_setYear'
              },
              setBtn:{
                    type:Boolean,
                    value:true
                }
          },
          _checkTrueValue(e){
                this.set('setBtn',false)
            },
            _checkFalseValue(e){
                this.set('setBtn',true)
                this.set('dataSelected.period','')
            },
          _setYear(list){

            if(list.length != 0){
              // this.set('dataSelected.year','')
            // Object.assign(this.dataSelected,{year:this.year});
              this.dataSelected.year = this.year
                // this.set('dataSelected.year','')
                // console.log(this.dataSelected)
                this.notifyPath('dataSelected.year');
              }
            },
            _search: function(){
              if (this.dataSelected.year){
                this.dataSelected.year = this.dataSelected.year - 543
              }
              if (this.dataSelected.quota == 'all') {
                var str='';
                if(this.dataSelected.year != '' && this.dataSelected.year != null){
                  str += '?'+'year'+'='+this.dataSelected.year;
                }
                // console.log(str);
                this.dispatchAction('IMPORT_LIST_ALL',str)
              } else if (this.dataSelected.quota == 'true') {
                var str='';
                if(this.dataSelected.year != '' && this.dataSelected.year != null){
                  str += '?year='+this.dataSelected.year+'&period='+this.dataSelected.period;
                }
                // console.log(str);
                this.dispatchAction('IMPORT_LIST_INQUOTA',str)
              } else if (this.dataSelected.quota == 'false') {
                var str='';
                if(this.dataSelected.year != '' && this.dataSelected.year != null){
                  str += '?'+'year'+'='+this.dataSelected.year;
                }
                // console.log(str);
                this.dispatchAction('IMPORT_LIST_OUTQUOTA',str)
              }

              // this.dispatchAction('STATISTICS_SETSEARCH',{quota:this.dataSelected.quota,year:this.dataSelected.year,period:this.dataSelected.period})
              this.dataSelected.year = JSON.parse(JSON.stringify(this.dataSelected.year))+543
            }

        });
    </script>
</dom-module>
