<link rel="import" href="../../components/upload-file/upload-file.html">
<link rel="import" href="./../../components/validateFormBehaviors.html">

<link rel="import" href="../../../../bower_components/polymer/polymer.html">

<link rel="import" href="../../components/page-style.html">

<!-- <link rel="import" href="../../../../bower_components/paper-behaviors/demo/paper-button.html"> -->

<link rel="import" href="../../../../bower_components/gl-form/gl-form-input.html">

<link rel="import" href="../../../../bower_components/polymer/polymer.html">

<dom-module id="importer-fileup">
  <style include="page-style">
    * {
      font-family: 'CSChatThaiUI', sans-serif;
      -webkit-font-smoothing: antialiased;
    }
    
    .title {
      font-size: 17px;
      font-family: 'rsubold', sans-serif;
      -webkit-font-smoothing: antialiased;
      /*text-decoration:underline;*/
      margin: 10px 0px 10px 5px;
    }
    
    upload-file {
      --primary-color: #339933;
    }
    
    gl-form-input {
      width: 20%;
    }
    .mt{
      margin-top: 20px;
    }
  </style>
  <template>
    <div class="horizontal end-justified layout">
      <div hidden="{{!isEnabled}}"><paper-icon-button icon="icons:create" on-tap="_edit"></paper-icon-button></div>
    </div>
    <gl-form-input style="margin-left:5px;" class="checkValidate" required error-message="กรุณากรอกข้อมูล" label="เลขใบขนสินค้าขาเข้า :" always-float-label value="{{data.tran_no}}" disabled="{{isEnabled}}"></gl-form-input>

    <fieldset>
      <legend>[[imp.doc_name_th]]:</legend>
      <upload-file target="/api/upload/file/[[data.company_taxno]]" accept="application/pdf" ref-path="importer.document.[[item.doc_code]]"
        doc-type-id="[[item.doc_type_id]]" company-taxno="[[data.company_taxno]]">
      </upload-file>
    </fieldset>

    <div class="horizontal end-justified layout">
      <div hidden="{{isEnabled}}" style="margin-top:10px;">
        <paper-button raised on-tap="_cancle">ยกเลิก</paper-button>
        <paper-button class="gl-btn-primary" raised on-tap="_save">บันทึก</paper-button>
      </div>
    </div>

  </template>
  <!--</template>-->
  <div style="margin-bottom:20px;"></div>
  <script>
    Polymer({
      is: "importer-fileup",
      behaviors: [ReduxBehavior,ValidateFormBehavior],
      properties: {
        imp: {
          statePath: 'upload.imp',
        },
         isEnabled:{
             type:Boolean,
             value:true
         }
      },
      _edit:function(){
        this.isEnabled = false;
      },
      _save:function(){
        var check = this.validateForm('.checkValidate');
        if(check == true){
          var data = {
            edi_code : this.data.reference_code2,
            custom_code : this.data.tran_no,
            id : this.data.id
          }
          this.fire('toast', {
                  status: 'dialog',
                  text: 'ต้องการแก้ไขเลขใบขนสินค้าขาเข้าใช่หรือไม่',
                  confirmed: (result) => {
                      if (result == true) {
                        this.dispatchAction('IMPORT_EDIT_TRAN_NO', data);
                        this.isEnabled = true;
                      }
                  }
              })
        }
      },
      _cancle:function(){
        this.dispatchAction('IMPORT_GET_COMPANY', this.data.id);
        this.isEnabled = true;
      }
      //  changelist:function(){
      //    console.log(this.listFiles);
      //  }
    });
  </script>
</dom-module>