<link rel="import" href="../../../../bower_components/gl-styles/gl-color.html">
<link rel="import" href="./../../components/validateFormBehaviors.html">


<dom-module id="importer-manage">
  <style is="custom-style" include="iron-flex iron-flex-factors iron-flex-alignment gl-size gl-color">
    * {
      font-family: 'CSChatThaiUI', sans-serif;
      -webkit-font-smoothing: antialiased;
    }
    
    .head {
      font-size: var(--font-size-h3);
      margin: 30px;
    }
    
    .status {
      width: 99%;
      text-align: center;
      padding-top: 30px;
      padding-bottom: 30px;
      font-size: var(--font-size-h3);
      color: var(--gl-white-color);
    }
    
    .true {
      border: 3px solid var(--gl-success-font-color);
      background-color: var(--gl-success-color);
    }
    
    .false {
      border: 3px solid var(--gl-danger-font-color);
      background-color: var(--gl-danger-color);
    }
    
    div.upload {
      margin: 30px 0px;
    }
    paper-dialog{
      --paper-dialog: {
        width: 540px;
      }
    }
  </style>
  <template>
    <template is="dom-if" if={{data.report_status}}>
      <div class="status true">รายงานแล้ว</div>
    </template>
    <template is="dom-if" if={{!data.report_status}}>
      <div class="status false">ยังไม่ได้รายงาน</div>
      <div class="horizontal end-justified layout wrap">
        <paper-button raised class="gl-btn-success" on-tap="_openDialog">รายงาน</paper-button>
      </div>
    </template>
    
    <paper-dialog id="tran_dialog">
      <div style="text-align:center;font-size:18px;font-weight:bold;">รายงานการขนสินค้าขาเข้า</div>
      <gl-form-input class="checkValidate" required error-message="กรุณากรอกข้อมูล" label="กรอกเลขใบขนสินค้าขาเข้า :" always-float-label value="{{tran_no}}"></gl-form-input>
      <div class="buttons">
        <paper-button raised class="gl-btn-info mt" on-tap="_submit">บันทึก</paper-button>
      </div>
    </paper-dialog>
    

    <fieldset style="margin-top:10px;">
      <legend>หนังสือรับรองการเข้าข้าว:</legend>

      <gl-grid-row width="{{getWidth}}">
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input label="ประเภทการนำเข้า : " always-float-label value="[[data.contract_type_name]]" disabled></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input label="เลขที่ : " always-float-label value="[[data.reference_code2]]" disabled></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <!--<gl-form-input label="วันที่ขอหนังสือ : " always-float-label value="[[changeDateCC(data.request_print_date)]]" disabled></gl-form-input>-->
           <gl-form-input label="วันหมดอายุหนังสือ : " always-float-label value="[[changeDateCC(data.expire_date)]]" disabled></gl-form-input> 
        </gl-grid-col>
      </gl-grid-row>
      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input label="ประเทศต้นทาง : " always-float-label value="[[data.destination_country]]" disabled></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input label="ประเทศกำเนิดสินค้า : " always-float-label value="[[data.ob_country]]" disabled></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <!--<gl-form-input label="วันหมดอายุหนังสือ : " always-float-label value="[[changeDateCC(data.request_expire_date)]]" disabled></gl-form-input>-->
          <!--<gl-form-input label="ใช้ได้ถึงวันที่ : " always-float-label value="[[data.request_expire_date]]" disabled></gl-form-input>-->
        </gl-grid-col>
      </gl-grid-row>
      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-textarea rows="2" label="ผู้ส่ง/ผู้ขาย :" always-float-label value="[[data.destination_company]] [[data.destination_address]] [[data.destination_province]]" disabled> </gl-form-textarea>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-textarea rows="2" label="ผู้นำเข้า :" value="[[data.company_name_th]] [[data.company_address_th]] [[data.company_province_th]] โทรศัพท์:[[data.company_phone]]" disabled> </gl-form-textarea>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <!--<gl-form-input label="ใช้ได้ถึงวันที่ : " always-float-label value="[[data.request_expire_date]]" disabled></gl-form-input>-->
        </gl-grid-col>
      </gl-grid-row>

      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input label="เลขประจำตัวผู้เสียภาษีอากร :" always-float-label value="[[data.company_taxno]]" disabled></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-textarea rows="2" label="ผู้ทำแทนผู้นำเข้า :" value="[[data.request_person]] [[data.acting_address]]" disabled> </gl-form-textarea>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input label="วันที่นำเข้า :" value="[[changeDateCC(data.load_date)]]" always-float-label disabled> </gl-form-input>
        </gl-grid-col>
      </gl-grid-row>

      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input label="นำเข้าโดย : " always-float-label value="[[data.vasel_name]]" disabled></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input label="พาหนะ/เที่ยว : " always-float-label value="[[data.vasel_name]]" disabled></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input label="ท่าหรือที่นำเข้า : " always-float-label value="[[data.port_name]]" disabled></gl-form-input>
        </gl-grid-col>
      </gl-grid-row>

      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-textarea rows="2" label="รายละเอียดสินค้า : " always-float-label value="[[data.product_description]]" disabled></gl-form-textarea>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input label="สกุลเงิน : " always-float-label value="[[data.currency_code]]" disabled></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input label="อัตราแลกเปลี่ยน : " always-float-label value="[[data.currency_rate]]" disabled></gl-form-input>
        </gl-grid-col>
      </gl-grid-row>

      <gl-grid-row>

        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input label="ประเภทพิกัด : " always-float-label value="[[data.hmcode8]]" disabled></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input label="รวมน้ำหนักสุทธิ (ตัน)/ปริมาณ : " always-float-label value="[[data.net_weight]]" disabled></gl-form-input>
        </gl-grid-col>

        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input label="ราคาต่อหน่วย : " always-float-label value="[[data.fob_amt_perunit]] [[data.currency_code]]/ตัน" disabled></gl-form-input>
        </gl-grid-col>
      </gl-grid-row>

      <gl-grid-row>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input label="รวมมูลค่า (เงินบาท) : " always-float-label value="[[data.fob_amt_baht]]" disabled></gl-form-input>
        </gl-grid-col>
        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
          <gl-form-input label="วันที่รายงาน : " always-float-label value="[[changeDateCC(data.report_date)]]" disabled></gl-form-input>
        </gl-grid-col>

      </gl-grid-row>
    </fieldset>
    <!--<div class="layout horizontal center-justified head">หนังสือรับรองการเข้าข้าว</div>-->
    <div class="upload">
      <fieldset>
        <legend>[[cer.doc_name_th]]:</legend>
        <upload-file target="/api/upload/file/[[data.company_taxno]]" accept="application/pdf" ref-path="importer.document.[[cer.doc_code]]"
          doc-type-id="[[cer.doc_type_id]]" company-taxno="[[data.company_taxno]]">
        </upload-file>
      </fieldset>
    </div>



    </div>
  </template>
  <script>
    Polymer({
      is: "importer-manage",
      behaviors: [ReduxBehavior,ValidateFormBehavior],
      properties: {
        cer: {
          statePath: 'upload.cer',
          // observer: 'changelist'
        },
      },
      changeDateCC(date) {
        try {
          let day, mouth, year;
          // console.log(date.split("-")[2]);
          day = date.split("-")[2];
          mouth = date.split("-")[1];
          year = Number(date.split("-")[0]) + 543;
          // console.log(day+'-'+mouth+'-'+String(year));
          return day + '/' + mouth + '/' + String(year);
        } catch (error) {

        }

      },
      _openDialog:function(){
        this.$.tran_dialog.open();
      },
      _submit() {
        var check = this.validateForm('.checkValidate');
        if(check == true){
          var data = {
            custom_code : this.tran_no,
            edi_code : this.data.reference_code2,
            id : this.data.id
          };
          this.fire('toast', {
                  status: 'dialog',
                  text: 'ต้องการบันทึกเลขใบขนสินค้าขาเข้าใช่หรือไม่',
                  confirmed: (result) => {
                      if (result == true) {
                        this.dispatchAction('IMPORT_INSERT_TRAN_NO',data);
                        this.$.tran_dialog.close();
                      }else{
                        this.$.tran_dialog.open();
                      }
                  }
              })
        }
      },
      test:function(){
        this.$.tran_dialog.close();
      }
    });
  </script>
</dom-module>